@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #7dbaf3;
  display: flex;
  flex-wrap: wrap;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding-top: 3rem;
}

.add{
    background-color: #9ec862;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    padding: 0.5ren 1rem;
    margin: 2rem auto;
    color: white; 
    position: fixed;
    top: 1rem;
    right: 1rem;
}

.note {
  background-color: #fff;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
  margin: 20px;
  width: 400px;
  height: 400px;
}

.note .tools {
  background-color: #9ec862;
  padding: 0.5rem;
  display: flex;
  justify-content: flex-end;
}

.note .tools button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 1rem;
  margin-left: 0.5rem;
}
.note .main {
  background-color: #fff;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.note textarea {
  outline: none;
  font-family: inherit;
  font-size: 1.2rem;
  border: none;
  height: 100%;
  width: 100%;
}

.note .hidden {
  display: none;
}
