@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #22254b;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

h1,
h2,
h3 {
  color: white;
}

form {
  display: flex;
  align-items: center;
}

header {
  background-color: #4f505e;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}


.search {
  background-color: transparent;
  border: 2px solid #22254b;
  border-radius: 50px;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem;
  width: 500px;
}

.search::placeholder {
  color: #7478c5;
}

.search:focus {
  color: #7378c5;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie {
  background-color: #373b68;
  border-radius: 3px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  margin: 1rem;
  width: 300px;
  overflow: hidden;
}

.movie img {
  width: 100%;
}

.movie-info {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 1px;
}

.movie-info h3 {
  margin: 0;
}

.movie-info span {
  background-color: #22254b;
  border-radius: 3px;
  font-weight: bold;
  padding: 0.25rem 0.5rem;
}

.movie-info span.green {
  color: rgb(39, 189, 39);
}

.movie-info span.orange {
  color: orange;
}

.movie-info span.red {
  color: red;
}

.overview {
  background-color: white;
  padding: 2rem;
  max-height: 100%;
  position: absolute;
  top: 0%;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 0.3s ease-in;
}

.movie:hover .overview {
  transform: translateY(0);
}

.overview h4 {
  margin-top: 0;
}
